/**/
ul {margin:0; padding:0;}
li {list-style-type:none;}


.ticker-container {
  background-color:#ccc;
  padding:10px;
  border:1px solid #333;
  margin-bottom:20px;
}

.ticker-mask {
  margin:0 auto; /* center the tickers - div inserted by plugin */
}

.ticker {background-color:#FFF;}
.ticker li {margin:0 20px 0 0; padding:0;}

/* margins for a nicer verical ticker */
.vertical li {margin:0 10px 20px 10px; }

.vertical {width:114px; float:left; margin-right:20px;}